In [1]:
import clearbit
import pandas as pd
import json
from pandas.io.json import json_normalize
from pprint import pprint

clearbit.key = 'sk_dd651b1776070e06fef1aa544aedc752'
df1=pd.read_csv("D://testcsv.csv")

In [2]:
df1

            Domain
0  1800flowers.com
1         21st.com
2           53.com

In [13]:
finalDataframe = pd.DataFrame()
for domain in df1["Domain"]: 
    company = clearbit.Company.find(domain=domain)
    if company != None and 'pending' not in company:
        finalDataframe = finalDataframe.append(json_normalize(company))
finalDataframe.to_csv("writecsv.csv", index=False, sep='\t', encoding="utf-8")

,category.industry,category.industryGroup,category.naicsCode,category.sector,category.sicCode,category.subIndustry,crunchbase.handle,description,domain,domainAliases,...,twitter.avatar,twitter.bio,twitter.followers,twitter.following,twitter.handle,twitter.id,twitter.location,twitter.site,type,utcOffset
0,Retailing,Retailing,45,Consumer Discretionary,59,Retailing,organization/1-800-flowers-com,Send flowers and send a smile! Discover fresh ...,1800flowers.com,"[800flowers.com, 1800flowers.co.nz, 1-800-flow...",...,https://pbs.twimg.com/profile_images/922528600...,"For over 40 years, we’ve been your destination...",45407,11684,1800flowers,14780856,New York,https://t.co/bTgDJOfXTk,public,-5
0,Insurance,Insurance,52,Financials,64,Insurance,organization/21st-century-insurance,Get a car insurance quote free online from 21s...,21st.com,"[21stcenturyinsurance.info, 21stclaims.com, 21...",...,https://pbs.twimg.com/profile_images/333804009...,Official 21st Century Auto tweets about insura...,895,224,21stCenturyAuto,159533022,"Wilmington, DE",http://t.co/7uw23X8GSs,private,-5
0,Banks,Banks,52,Financials,60,Banking & Mortgages,organization/fifth-third-bancorp,Fifth Third Bank has all the personal banking ...,53.com,"[fifththirdbancorp.biz, fifththird.net, fnbfor...",...,https://pbs.twimg.com/profile_images/880863478...,"At Fifth Third Bank, we’re working hard to mak...",34940,154,FifthThird,231213589,"Cincinnati, OH",https://t.co/iwj6gO2Oc3,public,-5

In [10]:
type(json_normalize(company))

pandas.core.frame.DataFrame